
#table_grid {
	border-spacing: 0;
	border-collapse: collapse;
	z-index: 10;
	position: relative;
	left: 50%;
	margin-left: -160px;
	margin-top: 30px;
}
.grid {
	background-color: #eeeeee;
	margin: 0;
	padding: 0;
	border: 0;
}
tbody {
}
.hover {
	background-color: black;
}
#button {
	width: 100px;
	position: relative;
	left: 50%;
	margin-left: -40px;
	margin-top: 10px;
}
#reset {
	background-color: #114422;
	font-family: Garamond, serif;
	font-size: 1.5em;
	color: white;
	padding: 2 10px;
}
#background {
	display: inline-block;
	background-color: #dd0011;
	height: 500px;
	width: 400px;
	border-radius: 50px;
	border: solid maroon 2px;
	position: absolute;
	left: 50%;
	margin-left: -200px;
}
h1 {
	position: relative;
	text-align: center;
	z-index: 5;
	color: white;
	margin-top: 0;
	padding-top: 15px;
	font-family: Garamond, cursive;
}