/* PHASE 8: Thumbs */
.profile-friends {

}

  .profile-friends li {
    float: left;
    width: 60px;
    margin-bottom: 10px;
  }

  .profile-friends li:nth-child(3n - 1) {
    margin-left: 0.7em; margin-right: 0.7em;
  }

.thumb {
  display: block;
  position: relative;
  width: 60px;
  height: 60px;
  border: 1px solid black;
  border-radius: 5px;
}

  .thumb > img {
    border-radius: 5px;
  }